.nav > li, .navbar-nav > li, .nav-tabs > li, .nav-pills > li,.descButton {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:0; /* hasLayout ie7 trigger */
}

.nav, .navbar-nav, .nav-tabs, .nav-pills, .descButton {
    text-align:center;
}


.navbar-default {
  background: none;
}
body {
 margin: 0;
 background-image: url("../Assets/pic.jpg");
/* background: rgba(0, 0, 0, .5);*/
background-color: #FFEBCD;
 background-size: 1368px 768px;
 background-repeat:repeat;
 display: compact;
 font: 1.5em 'Raleway', sans-serif;
 color:black;
}
.panel-collapse {
  float: none;
  position: static;
}
#black-font {
  color: black;
}

.description{
  background-color:gray ;
  opacity:0.5
  color: white;
  border-radius: 2px;
  opacity:0.8
}

.descButton{
    float:none;
    display:inline-block;
    *display:inline; 
    zoom:0; 
    text-align:center;
    color: white;
}
.descButton:hover {
    text-decoration: none;
    background-color: orange;
}

