.nav > li, .navbar-nav > li, .nav-tabs > li, .nav-pills > li,.descButton {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:0; /* hasLayout ie7 trigger */
}

.nav, .navbar-nav, .nav-tabs, .nav-pills, .descButton {
    text-align:center;
}
.navbar-default {
  background: none;
}
body {
 margin: 0;
 background-image: url("../Assets/pic.jpg");
 /* background: rgba(0, 0, 0, .5);*/
 background-color: black;
 background-size: 1368px 768px;
 background-repeat:no-repeat;
 background-attachment: fixed;
 display: compact;
 font: 1.5em 'Raleway', sans-serif;
 color:black;
}
.panel-collapse {
  float: none;
  position: static;
}
#black-font {
  color: black;
}

.description{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: gray;
  opacity:0.7 ;
  color: white;
}
.commentStyle{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: gray;
  opacity:0.7
}

.commntDIV{
  background-color: white;
}

#comment{
  background-color: gray;
  opacity:0.7 ;
}





.button {
  background-color:green; 
   font-weight: bold;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 30px;
    float: center;
  }
