.nav > li, .navbar-nav > li, .nav-tabs > li, .nav-pills > li,.descButton {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:0; /* hasLayout ie7 trigger */
}

.nav, .navbar-nav, .nav-tabs, .nav-pills, .descButton {
    text-align:center;
}
.navbar-default {
  background: none;
}
body {
 margin: 0;
 background-image: url("../Assets/pic.jpg");
 /* background: rgba(0, 0, 0, .5);*/
 background-color: black;
 background-size: 1368px 768px;
 background-repeat:no-repeat;
 background-attachment: fixed;
 display: compact;
 font: 1.5em 'Raleway', sans-serif;
 color:black;
}
.panel-collapse {
  float: none;
  position: static;
}
#black-font {
  color: black;
}

.description{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  opacity:0.7 ;
  border-radius: 4px;
  /*color: white;*/
}

.commentDiv{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: gray;
  opacity:0.7
}



  #comment{
    background-color: gray;
    opacity:0.7 ;
    border-radius: 4px;
  }

#scrollArea {
  overflow: auto;
}


#bottom {
  display: block;
  margin-top: 2000px;
}



.button {
  background-color:green; 
   font-weight: bold;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 30px;
    float: center;
  }

  .Fbutton {
    background-color: #4CAF50; /* Green */
    padding: 32px 16px;
    border: none;
    color: white;
    width: 250px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
     -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: 2px solid #4CAF50; /* Green */
     border-radius: 4px;
}
.Fbutton:hover {
    background-color: white; /* Green */
    color: black;
}

.friendsbutton {
    background-color: #e7e7e7; color: black;; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
     border-radius: 4px;
     margin-right: 20px;
}