<!-- <div id='signin'>
  <h1>signin</h1>
  <form name="signinForm">
    <input type='text' style="color:black;" ng-model='user.username'>
    <input type="password" ng-model='user.password'>
    <button ng-click="signin()">signin</button>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div> -->

<div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputUsername" class="sr-only">User Name</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="" ng-model='user.username'>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" ng-model='user.password'>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" ng-click="signin()">Sign in</button>
        <h3> <a href="#/signup">Don't have an account? <strong>Signup</strong></a> </h3>
      </form>

</div>
